@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-whatsapp:before {
  font-size: 22px;
  content: "\e900";
}

._icon-email:before {
  font-size: 22px;
  content: "\e901";
}

._icon-location:before {
  font-size: 22px;
  content: "\e902";
}

._icon-phone:before {
  font-size: 22px;
  content: "\e903";
}

._icon-add_1:before {
  font-size: 22px;
  content: "\e90f";
}

._icon-add_2:before {
  font-size: 22px;
  content: "\e910";
}

._icon-edit:before {
  font-size: 22px;
  content: "\e904";
}

._icon-download:before {
  font-size: 22px;
  content: "\e905";
}

._icon-upload:before {
  font-size: 22px;
  content: "\e906";
}

._icon-mobile:before {
  font-size: 22px;
  content: "\e907";
}

._icon-add_photo:before {
  font-size: 22px;
  content: "\e908";
}

._icon-car:before {
  font-size: 22px;
  content: "\e909";
}

._icon-parking:before {
  font-size: 22px;
  content: "\e90a";
}

._icon-print:before {
  font-size: 22px;
  content: "\e913";
}

._icon-truck:before {
  font-size: 22px;
  content: "\e914";
}

._icon-map:before {
  font-size: 22px;
  content: "\e90b";
}

._icon-arrow_1:before {
  font-size: 22px;
  content: "\e915";
}

._icon-expand:before {
  font-size: 22px;
  content: "\e916";
}

._icon-arrow_2:before {
  font-size: 22px;
  content: "\e917";
}

._icon-web_1:before {
  font-size: 22px;
  content: "\e918";
}

._icon-share:before {
  font-size: 22px;
  content: "\e90c";
}

._icon-bookmark_dark:before {
  font-size: 22px;
  content: "\e919";
}

._icon-bookmark_light:before {
  font-size: 22px;
  content: "\e91a";
}

._icon-delete:before {
  font-size: 22px;
  content: "\e90d";
}

._icon-admin:before {
  font-size: 22px;
  content: "\e91b";
}

._icon-home:before {
  font-size: 22px;
  content: "\e91c";
}

._icon-web_2:before {
  font-size: 22px;
  content: "\e912";
}

._icon-search:before {
  font-size: 22px;
  content: "\e90e";
}

._icon-filter:before {
  font-size: 22px;
  content: "\e91d";
}

._icon-bookmarks:before {
  font-size: 22px;
  content: "\e91e";
}

._icon-logout:before {
  font-size: 22px;
  content: "\e91f";
}

._icon-motorcycle:before {
  font-size: 22px;
  content: "\e920";
}

._icon-moped:before {
  font-size: 22px;
  content: "\e921";
}

._icon-minibus:before {
  font-size: 22px;
  content: "\e922";
}

._icon-tractor:before {
  font-size: 22px;
  content: "\e923";
}

._icon-boat:before {
  font-size: 22px;
  content: "\e924";
}

._icon-settings:before {
  font-size: 22px;
  content: "\e925";
}

._icon-login:before {
  font-size: 22px;
  content: "\e926";
}

._icon-qr_code:before {
  font-size: 22px;
  content: "\e927";
}

._icon-star_rate:before {
  font-size: 22px;
  content: "\e928";
}

._icon-date:before {
  font-size: 22px;
  content: "\e911";
}

._icon-close:before {
  font-size: 22px;
  content: "\e929";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #3a3a3a;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1410px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0066ff80;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #0066ff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.swiper-pagination-bullet-active::after {
  background-color: #0066ff;
}

.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.btn-main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  line-height: 120%;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fd9bb2), color-stop(25%, #fc7f9c), color-stop(75%, #d84a6b), to(#d52650));
  background-image: -o-linear-gradient(top, #fd9bb2, #fc7f9c 25%, #d84a6b 75%, #d52650 100%);
  background-image: linear-gradient(180deg, #fd9bb2, #fc7f9c 25%, #d84a6b 75%, #d52650 100%);
  padding: 15px 15px;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-main::before {
  font-size: 16px;
  margin-right: 5px;
}

.btn-gradient {
  background-image: -o-linear-gradient(135deg, #d52650 0%, #ec6f8c 51%, #d52650 100%);
  background-image: linear-gradient(-45deg, #d52650 0%, #ec6f8c 51%, #d52650 100%);
  margin: 10px;
  padding: 15px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  background-size: 200% auto;
  color: white;
  border-radius: 0.5rem;
  display: block;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
}

.btn-gradient:active {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}

.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}

.header._scroll .header__body {
  min-height: 50px;
}

.header__wrapper {
  background-color: #e8eef360;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__body {
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  min-height: 125px;
  position: relative;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 84.6774193548%;
          flex: 0 84.6774193548%;
  /*494 = from search til left edge*/
}

.header__logo img {
  position: relative;
  z-index: 5;
  height: 30px;
}

.header__search {
  padding-right: 32px;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 490px;
          flex: 0 1 490px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 6px;
  padding: 5px 0px;
  position: relative;
}

.menu__link {
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__arrow {
  margin: 0px 0px 0px 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 8px;
}

.menu__sub-list {
  position: relative;
  background-color: #e89f71;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.menu__sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu__sub-link {
  color: #fff;
  line-height: 120%;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #8695a4;
  -webkit-box-shadow: inset 0px 5px 10px 0px;
          box-shadow: inset 0px 5px 10px 0px;
}

.footer__title {
  font-size: 24px;
  line-height: 120.8333333333%;
  color: white;
  font-weight: 700;
}

.footer__main {
  text-align: center;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer-contact__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 120%;
  color: #f4f5f7;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer-contact__item::before {
  margin: 0px 8px 0px 0px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-contact__link {
  -webkit-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 120%;
  color: #f4f5f7;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer-contact__link::before {
  margin: 0px 8px 0px 0px;
}

.footer-contact__link:not(:last-child) {
  margin-bottom: 16px;
}

.page {
  padding: 0px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.accent__red {
  color: #d52650;
  font-weight: 700;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 70%;
  }

  70% {
    background-position: 100% 70%;
  }

  100% {
    background-position: 0% 70%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 70%;
  }

  70% {
    background-position: 100% 70%;
  }

  100% {
    background-position: 0% 70%;
  }
}

@-webkit-keyframes animatedbordergradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedbordergradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

._no-webp .section-one{
  background-image: url("../img/ui/crossword.png"); }

.section-one {
  padding: 40px;
}

.section-one__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.section-one__logo {
  width: 200px;
}

.section-one__logo-text {
  padding: 15px;
  font-size: 24px;
  text-align: center;
}

.section-one__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-one__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 110px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-one__content *:last-child {
  margin-bottom: 0;
}

.section-one__title {
  font-size: 62px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
}

.section-one__text {
  margin: 15px 0px 0px 0px;
  font-size: 20px;
}

.section-one__avatar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-one__avatar-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  max-height: 320px;
  position: relative;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
}

.section-one__avatar-img img {
  width: 100%px;
}

.subtitle {
  margin: 0px 0px 35px 0px;
}

.subtitle__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  color: #0066ff;
}

.subtitle__list-item {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  line-height: 120%;
}

.subtitle__list-item:not(:last-child) {
  padding-bottom: 10px;
}

.section-two {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 85px;
  background: -o-linear-gradient(135deg, #3a3a3a, #e0e0e0, #e7edee, #000);
  background: linear-gradient(-45deg, #3a3a3a, #e0e0e0, #e7edee, #000);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

.section-two__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-two__title {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  padding: 25px;
  text-align: center;
}

.section-two__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.section-two__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%px;
}

.section-two__item {
  margin-left: 40px;
  margin-right: 40px;
}

.section-two-item {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.section-two-item._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.section-two-item__icon {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  top: 25px;
  z-index: 5;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
  background: rgba(255, 255, 255, 0.85);
  /* Если браузер поддерживает backdrop-filter */
  padding: 15px;
  border-radius: 50%;
}

@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
  .section-two-item__icon {
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(31px);
            backdrop-filter: blur(31px);
  }
}

.section-two-item__icon img {
  height: 55px;
}

.section-two-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 210px;
  padding: 20px;
  width: 380px;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
  background: rgba(255, 255, 255, 0.85);
  /* Если браузер поддерживает backdrop-filter */
}

@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
  .section-two-item__box {
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(31px);
            backdrop-filter: blur(31px);
  }
}

.item-box {
  height: 265px;
}

.item-box__title {
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  color: #d52650;
}

.item-box__text {
  font-size: 20px;
  color: #0066ff;
  padding-top: 6px;
  padding-bottom: 6px;
}

._no-webp .section-three{
  background-image: url("../img/ui/crossword.png"); }

.section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-three__container {
  width: 100%;
}

.section-three__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.section-three__img-bonus img {
  height: 500px;
}

.section-three__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px;
}

.section-three__title {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  padding-top: 25px;
}

.section-three__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.section-three__subtitle {
  color: #0066ff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  padding-top: 25px;
}

.section-three__subtitle._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.section-three__btn {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  margin-top: 25px;
}

.section-three__btn._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.section-four {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 85px;
  background: -o-linear-gradient(45deg, #3a3a3a, #e0e0e0, #e7edee, #000);
  background: linear-gradient(45deg, #3a3a3a, #e0e0e0, #e7edee, #000);
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
}

.section-four__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four__title {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.section-four__title._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.section-four__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%px;
}

.section-four__item {
  margin-left: 40px;
  margin-right: 40px;
}

.section-four-item {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.section-four-item._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.section-four-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 210px;
  margin-top: 25px;
  padding: 20px;
  width: 380px;
  border-radius: 1.5rem;
  --borderWidth: 3px;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
  background: white;
  position: relative;
}

.section-four-item__list::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: -o-linear-gradient(135deg, #d52650 0%, #fff 30%, #ec6f8c 51%, #d52650 100%);
  background: linear-gradient(-45deg, #d52650 0%, #fff 30%, #ec6f8c 51%, #d52650 100%);
  border-radius: 1.6rem;
  z-index: -1;
  -webkit-animation: animatedbordergradient 5s ease alternate infinite;
          animation: animatedbordergradient 5s ease alternate infinite;
  background-size: 300% 300%;
  -webkit-box-shadow: 0 2px 5px -2px black;
          box-shadow: 0 2px 5px -2px black;
}

.section-four-item__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  color: #0066ff;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-four-item__list-item::before {
  color: #ffc701;
  text-shadow: 1px 1px 2px gray;
  margin-right: 10px;
  font-size: 35px;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__item._hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item._hover .menu__arrow,
  .menu__item._hover .menu__link {
    color: #e89f71;
  }

  .menu__sub-list {
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    visibility: hidden;
    min-width: 200px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    z-index: 5;
  }

  .section-one__logo {
    margin-right: 45px;
  }

  .section-one__avatar {
    padding: 30px 50px 0px 0px;
  }

  .section-four-item__list {
    height: 280px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header._scroll .header__body {
    min-height: 70px;
  }

  .header__search {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1422px) {
  ._container {
    max-width: 1300px;
  }
}

@media (max-width: 1422px) and (max-width: 1410px) {
  ._container {
    max-width: calc(750px + 550 * ((100vw - 320px) / 1090));
  }
}

@media (max-width: 1410px) {
  .swiper-pagination-bullets {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1090));
  }

  .btn-main {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1090));
  }

  .btn-gradient {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1090));
  }

  .header__search {
    padding-right: calc(15px + 17 * ((100vw - 320px) / 1090));
  }

  .footer__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1090));
  }

  .footer__body {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 1090));
  }

  .footer__body {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 1090));
  }

  .footer-contact {
    margin-top: calc(15px + 5 * ((100vw - 320px) / 1090));
  }

  .footer-contact__item:not(:last-child) {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 1090));
  }

  .footer-contact__link:not(:last-child) {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 1090));
  }

  .section-one {
    padding: calc(35px + 5 * ((100vw - 320px) / 1090));
  }

  .section-one__header {
    padding-top: calc(30px + 5 * ((100vw - 320px) / 1090));
  }

  .section-one__header {
    padding-bottom: calc(30px + 5 * ((100vw - 320px) / 1090));
  }

  .section-one__logo {
    width: calc(150px + 50 * ((100vw - 320px) / 1090));
  }

  .section-one__logo-text {
    padding: calc(10px + 5 * ((100vw - 320px) / 1090));
  }

  .section-one__logo-text {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1090));
  }

  .section-one__title {
    font-size: calc(32px + 30 * ((100vw - 320px) / 1090));
  }

  .section-one__title {
    margin-top: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-one__title {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-one__text {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1090));
  }

  .section-one__avatar-img {
    max-height: calc(280px + 40 * ((100vw - 320px) / 1090));
  }

  .section-one__avatar-img img {
    width: calc(40%px + 60% * ((100vw - 320px) / 1090));
  }

  .subtitle__list {
    padding: calc(10px + 5 * ((100vw - 320px) / 1090));
  }

  .subtitle__list-item {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1090));
  }

  .subtitle__list-item:not(:last-child) {
    padding-bottom: calc(8px + 2 * ((100vw - 320px) / 1090));
  }

  .section-two {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 1090));
  }

  .section-two {
    padding-bottom: calc(45px + 40 * ((100vw - 320px) / 1090));
  }

  .section-two__title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1090));
  }

  .section-two__title {
    padding: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-two__wrapper {
    width: calc(30%px + 40% * ((100vw - 320px) / 1090));
  }

  .section-two__item {
    margin-left: calc(20px + 20 * ((100vw - 320px) / 1090));
  }

  .section-two__item {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 1090));
  }

  .section-two-item {
    width: calc(260px + 90 * ((100vw - 320px) / 1090));
  }

  .section-two-item__icon {
    padding: calc(12px + 3 * ((100vw - 320px) / 1090));
  }

  .section-two-item__icon img {
    height: calc(50px + 5 * ((100vw - 320px) / 1090));
  }

  .section-two-item__box {
    padding: calc(15px + 5 * ((100vw - 320px) / 1090));
  }

  .section-two-item__box {
    width: calc(290px + 90 * ((100vw - 320px) / 1090));
  }

  .item-box {
    height: calc(240px + 25 * ((100vw - 320px) / 1090));
  }

  .item-box__title {
    padding: calc(10px + 5 * ((100vw - 320px) / 1090));
  }

  .item-box__title {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1090));
  }

  .item-box__text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1090));
  }

  .item-box__text {
    padding-top: calc(5px + 1 * ((100vw - 320px) / 1090));
  }

  .item-box__text {
    padding-bottom: calc(5px + 1 * ((100vw - 320px) / 1090));
  }

  .section-three__img-bonus img {
    height: calc(400px + 100 * ((100vw - 320px) / 1090));
  }

  .section-three__box {
    padding: calc(35px + 10 * ((100vw - 320px) / 1090));
  }

  .section-three__title {
    font-size: calc(28px + 4 * ((100vw - 320px) / 1090));
  }

  .section-three__title {
    padding-top: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-three__subtitle {
    font-size: calc(22px + 2 * ((100vw - 320px) / 1090));
  }

  .section-three__subtitle {
    padding-top: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-three__btn {
    margin-top: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-four {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 1090));
  }

  .section-four {
    padding-bottom: calc(45px + 40 * ((100vw - 320px) / 1090));
  }

  .section-four__title {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1090));
  }

  .section-four__title {
    padding-top: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-four__title {
    padding-bottom: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-four__wrapper {
    width: calc(30%px + 40% * ((100vw - 320px) / 1090));
  }

  .section-four__item {
    margin-left: calc(20px + 20 * ((100vw - 320px) / 1090));
  }

  .section-four__item {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 1090));
  }

  .section-four-item {
    width: calc(260px + 90 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list {
    margin-top: calc(20px + 5 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list {
    padding: calc(15px + 5 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list {
    width: calc(290px + 90 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list-item {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list-item {
    padding-top: calc(8px + 2 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list-item {
    padding-bottom: calc(8px + 2 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list-item::before {
    margin-right: calc(8px + 2 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list-item::before {
    font-size: calc(30px + 5 * ((100vw - 320px) / 1090));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .btn-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn-gradient {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__body {
    min-height: 80px;
  }

  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .section-two__wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-three__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .section-four__wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .header {
    min-height: 5px;
  }

  .header__body {
    min-height: 50px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #e8eef3;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 100px 15px 30px 25px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: transparent;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__item {
    margin: 0px 0px 15px 0px;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 20px;
    font-weight: 600;
  }

  .menu__arrow {
    font-size: 14px;
  }

  .menu__arrow._active {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__sub-list {
    margin: 10px -15px 0px -15px;
  }

  .menu__sub-link {
    font-size: 18px;
  }

  .icon-menu {
    margin-left: 32px;
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .section-one {
    margin-top: -30px;
  }

  .section-one__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-one__logo {
    margin-bottom: 35px;
  }

  .section-one__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .section-one__content {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-one__avatar {
    padding: 0px 0px 0px 0px;
  }

  .subtitle {
    margin: 0px 0px 25px 0px;
  }

  .section-two__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-three__img-bonus img {
    height: 500px;
  }

  .section-four__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) and (max-width: 1410px) {
  .icon-menu {
    margin-left: calc(15px + 17 * ((100vw - 320px) / 1090));
  }

  .section-one__logo {
    margin-bottom: calc(20px + 15 * ((100vw - 320px) / 1090));
  }

  .section-three__img-bonus img {
    height: calc(260px + 240 * ((100vw - 320px) / 1090));
  }
}

@media (min-width: 767.98px) and (max-width: 1410px) {
  .section-one__logo {
    margin-right: calc(35px + 10 * ((100vw - 320px) / 1090));
  }

  .section-four-item__list {
    height: calc(270px + 10 * ((100vw - 320px) / 1090));
  }
}

@media (any-hover: hover) {
  .btn-main:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .btn-gradient:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .header._scroll .header__wrapper:hover {
    background-color: white;
  }

  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item:hover .menu__arrow,
  .menu__item:hover .menu__link {
    color: #d52650;
  }

  .menu__sub-item:hover {
    background-color: #e48d58;
  }

  .footer-contact__link:hover {
    color: white;
    -webkit-box-shadow: 0 3px 3px -2px white;
            box-shadow: 0 3px 3px -2px white;
  }
}

._webp .section-one{ background-image: url(../img/ui/crossword.webp); }

._webp .section-three{ background-image: url(../img/ui/crossword.webp); }